.cartContainer{
    background-color: #d7d7d7;
    padding: 1rem 3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.cartItem{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}
.btnRemoveFromCart{
    padding: 0.5rem 1rem;
    background-color: red;
    display: flex;
    align-items: center;
    color: white;
    border: none;
}